.member.js-member
  .is-visually-hidden
    //- Any text we want to query on but not display
    if team && subteam
      = team.name
      = subteam.subteam
      = member.product_team

  a.member-headshot(
    style=(member.headshot ? 'background-image: url(' + crop(member.headshot, {}) + ');' : undefined)
    data-initials= member.initials
    href= member.id
  )

  .member-metadata
    a.member-name( href= member.id )
      = member.name

    if member.title
      .member-title: em
        = member.title

    if member.product_team && CURRENT_PATH !== '/product'
      .member-product_team
        | (#{member.product_team})

    if member.start_date.isValid()
      .member-start-date
        - var prefix = member.start_date.isBefore() ? 'Started' : 'Starting in'
        | #{prefix} #{member.start_date.fromNow()}

    if member.role_text
      .member-role-text
        = member.role_text

    if member.email
      a.member-email( href='mailto:#{member.email}artsy.net' )
        span= member.email.replace('@', '')
        | @artsy.net
