html
  head
    title Team
    link( type='text/css', rel='stylesheet', href='//fast.fonts.net/cssapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.css' )
    link( type='text/css', rel='stylesheet', href='/stylesheets/index.css' )
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='/javascripts/index.js')
  body
    input(type="search" id="search" size="30" autofocus="yes" placeholder="Search" oninput="searchTextUpdated(this);")
    for members, team in teams
      .team
        h1.team-name
          = team

        .team-members
          for member in members
            .member(data-name=member.name)
              .headshot(
                style='background-image: url(' + crop(member.headshot, {}) + ');'
              )
              .member-name
                a( href='mailto:#{member.email}artsymail.com' )
                  = member.name

                if member.title
                  .member-title: em
                    = member.title

                if member.subteam
                  .member-subteam
                    | (#{member.subteam})

                if member.product_team
                  .member-product_team
                    | (#{member.product_team})
