extends layout

block body
  input#search(
    type='search'
    size='30'
    autofocus='yes'
    placeholder='Search'
    oninput='searchTextUpdated(this);'
  )

  for members, team in teams
    .team
      h1.team-name
        = team

      .team-members
        for member in members
          .member( data-name= member.name )
            a.headshot(
              style='background-image: url(' + crop(member.headshot, {}) + ');'
              href= member.email.replace('@', '')
            )
            .member-name
              a( href='mailto:#{member.email}artsymail.com' )
                = member.name

              if member.title
                .member-title: em
                  = member.title

              if member.subteam
                .member-subteam
                  | (#{member.subteam})

              if member.product_team
                .member-product_team
                  | (#{member.product_team})
